body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #b8e6f8;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 500;
  height: 10%;
  margin-bottom: 0;
}

img {
  position: fixed;
  top: 0;
  left: 0;
}

div {
  position: relative;
  background-color: #b8e6f8;
  height: 375px;
  margin-top: 15%;
  margin-bottom: 15%;
  z-index: 200;
  text-align: center;
}

#links:before { 
  display: block; 
  content: " "; 
  margin-top: -250px; 
  height: 250px; 
  visibility: hidden; 
}

#contact:before { 
  display: block; 
  content: " "; 
  margin-top: -250px; 
  height: 250px; 
  visibility: hidden; 
}

.text {
  background-color: red;
  margin-left: 10%;
  margin-right: 10%;
  height: 100px;
  width: 80%;
  text-align: center;
  padding-top: 50px;
  margin-top: 100px;
}

a {
  text-align: center;
  vertical-align: middle;
  margin: 100px;
}

.btn.btn-primary {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 50px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.btn.btn-primary:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.btn.btn-primary:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
