body {
  background-color: yellow;
}

nav {
  background-color: green;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 500;
  height: 10%;
  margin-bottom: 0;
}

img {
  position: fixed;
  top: 0;
  left: 0;
}

section {
  position: relative;
  background-color: white;
  opacity: 0.9;
  height: 375px;
  margin-top: 15%;
  margin-bottom: 15%;
  z-index: 200;
}


.btn.btn-primary.scroll {
  background-color: red;
}